<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Make a New Account</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        <label>Your Email:</label><br>
        {{ form.email(size=32) }}<br>
        {% if form.email.errors %}
            <p>{{ form.email.errors[0] }}</p>
        {% endif %}
        <br>

        
        <label>Create a Password:</label><br>
        {{ form.password(size=32) }}<br>
        {% if form.password.errors %}
            <p>{{ form.password.errors[0] }}</p>
        {% endif %}
        <p>Use big and small letters, numbers, and a symbol (like @ or #)</p><br>

        
        <label>Answer this question:</label><br>
        <b>{{ captcha_question }}</b><br>
        {{ form.captcha(size=6) }}<br>
        {% if form.captcha.errors %}
            <p>{{ form.captcha.errors[0] }}</p>
        {% endif %}
        <br>

        {{ form.submit() }}
    </form>

    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <br>
    <a href="{{ url_for('home') }}">Go Back Home</a>
</body>
</html>




